* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.mainContainer {
  min-height: 100vh;
  width: 100%;
  background-image: url('images/background.jpeg');
  background-position: center;
  background-size: cover;
  position: relative;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 6%;
}

.navbar img {
  width: 250px;
  border-radius: 10px;
  opacity: 1;
}

.navbar-links {
  flex: 1;
  text-align: right;
  opacity: 0.8;
}

.navbar-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.navbar-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.navbar-links ul li::after {
  content: '';
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.navbar-links ul li:hover::after {
  width: 100%;
}

/*Landing Page*/
.landing-inner {
  color: #f03585;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.landing-inner h1 {
  font-size: 50px;
}

.landing-inner p {
  margin: 10px 5px 40px;
  font-size: 16px;
  color: #f03585;
  font-weight: 600;
}

.Link-btn {
  display: inline-block;
  text-decoration: none;
  color: white;
  border: 1px solid blue;
  border-radius: 10px;
  padding: 12px 34px;
  font-size: 20px;
  background: blue;
  font-weight: 600px;
  position: relative;
  cursor: pointer;
}

.Link-btn:hover {
  border: 1px solid #f44336;
  background: #f44336;
  transition: 1s;
}

.navbar-links .fas {
  display: none;
}

.fa-bars {
  display: none;
}

/*-----services sectuib----------- */
.service {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}
h1 {
  font-size: 36px;
  font-weight: 600;
}
p {
  color: #777;
  font-size: 14px;
  font-weight: 300px;
  line-height: 22px;
  padding: 10px;
}

.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.service-col {
  flex-basis: 31%;
  background: #dfce9f;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}

h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}

.service-col:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.4);
}

.service-col .fas {
  color: red;
}

.service-col ul li {
  list-style: none;
  display: inline-block;
  padding: 2px;
  position: relative;
  text-align: left;
  transition: 0.5s;
}

.service-col ul li:hover {
  font-weight: bold;
}

/*------------Location***************/
.location {
  width: 80%;
  margin: auto;
  text-align: center;
  margin-top: 50px;
}

.location-col {
  flex-basis: 45%;
  border-radius: 20px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}
.location-col img {
  width: 100%;
  display: block;
  height: 400px;
}

.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.layer:hover {
  background: rgba(226, 0, 0, 0.7);
}

.layer h3 {
  width: 100%;
  font-weight: 500;
  color: #fff;
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  transition: 0.5s;
  opacity: 0;
}

.layer:hover h3 {
  bottom: 49%;
  opacity: 1;
}

/*------------Experience-------------*/
.experience {
  width: 80%;
  margin: auto;
  text-align: center;
  margin-top: 50px;
}

.experience-col {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 5px;
  text-align: left;
}

.experience-col img {
  width: 100%;
  border-radius: 10px;
  height: 250px;
}

.experience-col h3 {
  margin-top: 16px;
  margin-bottom: 15px;
  text-align: center;
}

.experience-col ul li {
  list-style: none;
  display: inline-block;
  padding: 2px;
  position: relative;
  text-align: left;
  transition: 0.5s;
}

.experience-col:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.4);
}

.experience-col .fas {
  color: red;
}

.experience-col ul li:hover {
  font-weight: bold;
}

/*--------Contact Section------------*/
.contactus {
  margin: 50px auto;
  width: 80%;
  background-image: url(images/background2.jpeg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 50px 0;
  height: 80px;
}

.contactus h1 {
  color: blue;
  margin-bottom: 20px;
  padding: 0;
}

/*----------Footer------------*/

.footer {
  width: 100%;
  text-align: center;
  padding: 5px 0;
}

.footer h4 {
  margin: 10px 0;
  font-weight: 600;
}

.icons .fab {
  color: #f44336;
  margin: 0 13px;
  cursor: pointer;
  padding: 5px 0;
}

@media (max-width: 700px) {
  .landing-inner h1 {
    font-size: 20px;
  }
  .navbar-links ul li {
    display: block;
  }
  .navbar-links {
    position: absolute;
    background: #f44336;
    height: 100vh;
    width: 200px;
    top: 0;
    right: 0px;
    text-align: left;
    z-index: 2;
  }
  .navbar-links .fas {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }

  .navbar-links ul {
    padding: 30px;
  }

  .row {
    flex-direction: column;
  }
  .contactus h1 {
    font-size: 24px;
  }
}

/*Landing Page*/
.page-inner {
  color: #d43509;
  width: 90%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.page-inner h1 {
  font-size: 50px;
}

.page-inner p {
  margin: 10px 5px 40px;
  font-size: 16px;
  color: #f03585;
  font-weight: 600;
}

.page-inner input,
.page-inner textarea {
  width: 50%;
  padding: 15px;
  margin-bottom: 20px;
  outline: none;
  border: 1px solid #ccc;
}

textarea {
  height: 70px;
}

.page-inner .Link-btn {
  width: 20%;
}

/*** Alert **/
.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: #f4f4f4;
  color: #333;
  position: absolute;
  top: 20%;
  left: 50%;
  width: 90%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.alert-primary {
  background: #17a2b8;
  color: #fff;
}

.alert-success {
  background: #28a745;
  color: #fff;
}

.alert-danger {
  background: #dc3545;
  color: #fff;
}